body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(#101069, #090912, #1A1A45);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.ball {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 1);
}
.answer {
    position: absolute;
    font-size: 32px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0 20px;
}
input {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    width: 250px;
    max-width: 90%;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #A3A3A3;
}
@media (max-width: 600px) {
.ball {
    width: 220px; 
    height: 220px;
}
.answer {
    font-size: 24px;
    padding: 0 10px;
}
input {
	width: 80%; 
    max-width: 300px; 
    padding: 12px 15px; 
    font-size: 14px; 
}
button {
	padding: 12px 25px; 
    font-size: 14px;
}
.input-container {
	gap: 15px;
    margin-bottom: 30px;
}
}